name: Mirror to GitVerse

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Важно! Полная история
    
    - name: Push to GitVerse
      run: |
        git remote add gitverse https://${{ secrets.GITVERSE_TOKEN }}@gitverse.ru/Katerok27153/study_2025-2026_net-admin.git
        git push --mirror gitverse
